body {
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #162252 70%, #ffffff 0%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background:#162252;
    color: #ffffff;
}
.nav a {
    color: #dddddd;
    text-decoration: none;
    margin-right: 5px;
}
.nav a:hover {
    color:#ccc
}
section {
    text-align: center;
}
section>h3 {
    margin-bottom: 0px;
    padding: 0;
}
section>p {
    margin-top: 0px;
    padding: 0;
}
main {
    margin: 5% 3% 0 3%;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ccc;
    -moz-box-shadow: 3px 3px 3px 3px;
    -webkit-box-shadow: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px #777777;
    
}
.form_row {
    display: flex;
    padding: 10px 0 10px 0;
}
.form_row input {
    flex: 1;
    height: 25px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
}
button {
    background: #162252;
    color: #ffffff;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
}
footer {
    text-align: center;
    margin-top: auto;
    background: #10193f;
    color: #ffffff;
    padding: 5px;
    font-size: 14px;
}
@media only screen and (min-width: 65.625em) {
    .wrapper {
        background: linear-gradient(to top, #162252 50%, #ffffff 0%);
    }
}