body {
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    clip-path: polygon(50% 0%, 100% 0, 100% 19%, 100% 62%, 82% 100%, 60% 100%, 22% 100%, 0 100%, 0% 35%, 0 0);
    height: 100vh;
    width: 100%;
    background:#162252;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20% 10px 20%;
    background:#162252;
    color: #ffffff;
}
.nav a {
    color: #dddddd;
    text-decoration: none;
    margin-right: 5px;
}
.nav a:hover {
    color:#ccc
}

main {
    padding: 10px;
    margin-top: 5%;
    
}
main>div {
    color: #ffffff;
    margin: 0 3% 3% 0;
}
main .registration {
    background: #ffffff;
    padding: 5px;
}
.registration>h3{
    color: #162252;
}
.form_row {
    display: flex;
    padding: 10px 0 10px 0;
}
.form_row input {
    flex: 1;
    height: 25px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
}
button {
    background: #162252;
    color: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 40%;
}
footer {
    text-align: center;
    margin-top: auto;
    background: #10193f;
    color: #ffffff;
    padding: 5px;
    font-size: 14px;
}
.error {
    color: red;
    padding: 10px;
}
@media only screen and (min-width: 65.625em) {
    .wrapper {
        clip-path: polygon(50% 0%, 100% 0, 100% 19%, 100% 57%, 75% 64%, 44% 73%, 17% 76%, 0 73%, 0% 35%, 0 0);
    }
    main {
        display: flex;
        justify-content: center;
    }
}